{% extends 'base.html' %}
{% load static %}

{% block meta %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tayangan</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    body {
      background-color: #2d3250;
    }
    .container {
      margin-top: 50px;
    }
    .card {
      background-color: #9fa8c5;
      margin-bottom: 20px;
    }
    .search-bar {
      margin-bottom: 20px;
    }
    .btn{
      background-color: #2d3250;
    }
    h1 {
      color: white; 
    }

    h2{
      color: white;
    }
  </style>
</head>
{% endblock meta %}

{% block content %}
<body>

<div class="container">
  <h1 class="text-center mb-4">Tayangan</h1>

  <div class="input-group mb-3 search-bar">
    <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>

  <h2 class="mb-3">Top 10 Movies</h2>
  <div class="row">
    <div class="col-md-6">
      {% for item in tayangan_first_half %}
      <div class="card mb-3">
          <div class="card-body">
              <h4>{{ forloop.counter }}</h4>
              <h5 class="card-title">{{ item.0 }}</h5>
              <p class="card-text">{{ item.1 }}</p>
              <p class="card-text"><a href="{{ item.2 }}">lihat trailer</a> - {{ item.3 }}</p>
              <p class="card-text">{{ item.views }} views</p>
              <a href="" class="btn btn-primary">Tonton</a>
          </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-6">
      {% for item in tayangan_second_half %}
      <div class="card mb-3">
          <div class="card-body">
              <h4>{{ forloop.counter0 |add:6 }}</h4>
              <h5 class="card-title">{{ item.0 }}</h5>
              <p class="card-text">{{ item.1 }}</p>
              <p class="card-text"><a href="{{ item.2 }}">lihat trailer</a> - {{ item.3 }}</p>
              <p class="card-text">{{ item.views }} views</p>
              <a href="" class="btn btn-primary">Tonton</a>
          </div>
      </div>
      {% endfor %}
    </div>
    </div>


  <h2 class="mt-5 mb-3">Film</h2>
  <div class="row">
    <div class="col-md-12">
      {% for film in films %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ film.0 }}</h5>
          <p class="card-text">{{ film.1 }}</p>
          <p class="card-text"><a href="{{ film.2 }}">Lihat trailer</a> - {{ film.3 }}</p>
          <a href="{% url 'tayangan:film' film.4 %}" class="btn btn-primary">Tonton</a> 
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  <h2 class="mt-5 mb-3">Series</h2>
  <div class="row">
    <div class="col-md-12">
      {% for series in seriess %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ series.0 }}</h5>
          <p class="card-text">{{ series.1 }}</p>
          <p class="card-text"><a href="{{ series.2 }}">Lihat trailer</a> - {{ series.3 }}</p>
          <a href="{% url 'tayangan:series' series.4 %}" class="btn btn-primary">Tonton</a> 
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</body>
{% endblock content %} 
