<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PacilFlix - A12</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="container">
        <h2>PacilFlix - A12</h2>
        <p class="login-heading">FORM LOGIN</p>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button class="button" onclick="login()">MASUK</button>
        <div class="error" id="login-error"></div>
        <p class="register-link">Belum memiliki akun? <a href="register.html">Registrasi</a></p>
    </div>

    <script>
        function login() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            if (username == 'user' && password == 'pass') {
                document.getElementById('login-error').innerHTML = '';
                alert('Login berhasil!');
            } else {
                document.getElementById('login-error').innerHTML = 'Username atau Password Anda salah!';
            }
        }
    </script>
</body>
</html>
