<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PacilFlix - A12</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    <div class="container">
        <h2>PacilFlix - A12</h2>
        <p class="login-heading">FORM REGISTRASI</p>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="text" placeholder="Negara Asal">
        <button class="button">DAFTAR</button>
        <p class="Login">Sudah memiliki akun? <a href="login.html">Login</a></p>
    </div>
</body>
</html>
